*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Header*/
.imagen{
    width: 70px;
    height: 70px;
}
.header{
    background-color: white;
    width: 100%;
}

.buscador{
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
input{   
    border-radius: 3px; /*Cambia el borde del buscador (mas cuadrado o mas circular)*/
    padding: 5px;
    width: 200px;
}

.menu{
    /*display: flex; /*Sin display flex, flexbox no funciona*/
    /*flex-direction: row;*/
    height: 100px; /*Todos estos le dicen al header que sea mas grande*/
    width: 1290px;
}
.opciones{
    margin: auto;
    text-align: center;
    padding: 5px;
    width: 325px; /*Le doy ancho mi caja*/
    height: 100px;
    /*Flexbox*/
    display: flex; /*Para poner todo al lado*/ 
    justify-content: space-around; /*Para que no quede pegado*/
    align-items: center;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
    /*Le saco los puntos a la lista. Se lo digo al ul porque es el que crea la lista*/
}
.opciones li a{
    text-decoration: none;
    color: #68698c;
    font-family: roboto;
    font-size: 16px;
}
.opciones li a:hover{
    color: black; /*Despues darle el color del logo*/
}

/*Body*/
body{
    background-color: #68698c;
}
ul{
    list-style-type: none;
}


/*Body*/

img{
    width: 70%;
}

.titulo{
    padding: 20px;
    font-size: 30px;
    font-family: roboto;
    text-align: center; 
    color: white;   
}
.caja{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 1200px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}
.tracks{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}
.todosCancion{
    margin: 15px;
}


.albums{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.todosAlbum{
    margin: 15px;
}

.artists{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.todosArtista{
    margin: 15px;
}

/*Para todas las cajas*/
h3{
    margin-bottom: 10px;
    
}
h3 a{
    color: white;
    font-family: roboto;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 20px;
}
h3 a:hover{
    color: black;
}
p{
    font-family: robotolight;
    color: white;
    margin-top: 10px;
}
p a{
    color: white;
    text-decoration: none;
}
p a:hover{
    color: black;
}



/*Footer*/
.footer{
    background-color: white;
    display: flex; /*Sin display flex, flexbox no funciona*/
    justify-content: space-between;
    height: 80px; 
    width: 100%;

}
.nombres{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 325px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 10px;
    
}
.nombres h5{
    color: #68698c;
    font-family: roboto;
    font-size: 14px;
}

@font-face{
    font-family: roboto;
    src: url(../roboto/Roboto-Bold.ttf);
}
@font-face{
    font-family: robotolight;
    src: url(../roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: robotoitalic;
    src: url(../roboto/Roboto-BoldItalic.ttf);
}

@media(min-width: 768px){
    .opciones{
        width: 95%; /*Cuanto quiero que se me separen las palabras*/ 
    }
    .imagenfondo{
        background-image: url(../img/fondoipad.png);
        height: 1024px;
    }
}

@media(min-width: 1024px){
    .producto{
        width: 100%;
    }
    .imagenfondo{
        background-image: url(../img/logoparapc.png);
        height: 950px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .menu{
        height: 100px;
    }
    .opciones li a{
        font-size: 18px;
    }
    .nombres{
        width: 1500px;
        display: flex;
        align-items: flex-end;
        padding: 10px;
    }
}