*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Header*/
.header{
    background-color: white;
    width: 100%;
}

.buscador{
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
input{   
    border-radius: 3px; /*Cambia el borde del buscador (mas cuadrado o mas circular)*/
    padding: 5px;
    width: 200px;
}

.menu{
    /*display: flex; /*Sin display flex, flexbox no funciona*/
    /*flex-direction: row;*/
    height: 100px; /*Todos estos le dicen al header que sea mas grande*/
    width: 100%;
}
.opciones{
    margin: auto;
    text-align: center;
    padding: 5px;
    width: 325px; /*Le doy ancho mi caja*/
    height: 100px;
    /*Flexbox*/
    display: flex; /*Para poner todo al lado*/ 
    justify-content: space-around; /*Para que no quede pegado*/
    align-items: center;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
    /*Le saco los puntos a la lista. Se lo digo al ul porque es el que crea la lista*/
}
.opciones li a{
    text-decoration: none;
    color: #68698c;
    font-family: roboto;
    font-size: 16px;
}
.opciones li a:hover{
    color: black; /*Despues darle el color del logo*/
}

/*Body*/
body{
    background-color: #68698c;
}
ul{
    list-style-type: none;
}

.topcharts{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center; /*Con margin y align-items se alineo la caja en el centro*/
    text-align: center;
}
.canciones{
    width: 330px;
    height: 233px;
    margin: 10px;
    padding: 10px;
    border-color: white;
    border-style: solid;
}
.canciones li{
    display: flex;
    flex-direction: column; /*Pongo la lista como columna*/
    justify-content: center; /*Quedo en el centro de la caja*/
    align-items: center;
    height: 25px;
}
.canciones li a{
    text-decoration: none;
    color: white;
    font-family: robotolight;
    
}
.canciones li a:hover{
    color: black;
}

.albumes{
    width: 330px;
    height: 233px;
    margin: 10px;
    padding: 10px;
    border-color: white;
    border-style: solid;
}
.albumes li{
    display: flex;
    flex-direction: column; /*Pongo la lista como columna*/
    justify-content: center; /*Quedo en el centro de la caja*/
    align-items: center;
    height: 25px;
}
.albumes li a{
    text-decoration: none;
    color: white;
    font-family: robotolight;

}
.albumes li a:hover{
    color: black;
}

.artistas{
    width: 330px;
    height: 233px;
    margin: 10px;
    padding: 10px;
    border-color: white;
    border-style: solid;
}
.artistas li{
    display: flex;
    flex-direction: column; /*Pongo la lista como columna*/
    justify-content: center; /*Quedo en el centro de la caja*/
    align-items: center;
    height: 25px;
}
.artistas li a{
    text-decoration: none;
    color: white;
    font-family: robotolight;
}
.artistas li a:hover{
    color: black;
}

.top6{
    color: white;
    font-family: robotoitalic;
    font-size: 23px;
    padding: 10px;
}


/*Footer*/
.footer{
    background-color: white;
    display: flex; /*Sin display flex, flexbox no funciona*/
    flex-direction: row;
    justify-content: space-between;
    height: 80px; 
    width: 100%;

}
.nombres{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 325px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 10px;
    
}
.nombres h5{
    color: #68698c;
    font-family: roboto;
    font-size: 14px;
}


@font-face{
    font-family: roboto;
    src: url(../roboto/Roboto-Bold.ttf);
}
@font-face{
    font-family: robotolight;
    src: url(../roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: robotoitalic;
    src: url(../roboto/Roboto-BoldItalic.ttf);
}

@media(min-width: 768px){
    .opciones{
        width: 95%; /*Cuanto quiero que se me separen las palabras*/ 
    }
}

@media(min-width: 1024px){
    .opciones li a{
        font-size: 18px;
    }
    .nombres{
        width: 2000px;
    }
}