*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*El header*/
.header{
    background-color: black;
}

.buscador{
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
input{   
    border-radius: 3px; /*Cambia el borde del buscador (mas cuadrado o mas circular)*/
    padding: 5px;
    width: 200px;
}


.menu{
    background-color: black;
    /*display: flex; /*Sin display flex, flexbox no funciona*/
    /*flex-direction: row;*/
    height: 80px; /*Todos estos le dicen al header que sea mas grande*/
}
.opciones{
    margin: auto;
    text-align: center;
    /*Flexbox*/
    display: flex; /*Para poner todo al lado*/
    width: 79%; /*Cuanto quiero que se me separen las palabras*/ 
    justify-content: space-around; /*Para que no quede pegado*/
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
ul{
    list-style-type: none;
    /*Le saco los puntos a la lista. Se lo digo al ul porque es el que crea la lista*/
}
.opciones li a{
    text-decoration: none;
    color: whitesmoke;
}
.opciones li a:hover{
    color: violet; /*Despues darle el color del logo*/
}



/*Fondo*/
.imagenfondo{
    background-image: url(../img/GOGI_Mesa\ de\ trabajo\ 1.png);
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Footer*/
.footer{
    background-color: black;
    display: flex; /*Sin display flex, flexbox no funciona*/
    flex-direction: row;
    justify-content: space-between;
    height: 80px; 

}
.nombres{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.nombres h5{
    color: whitesmoke;
}


@media(min-width: 768px){
    .opciones{
        width: 95%; /*Cuanto quiero que se me separen las palabras*/ 
}


@media(min-width: 1024px){
    .producto{
        width: 100%;
    }
}